<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level){blue=INFO, yellow=WARN, red=ERROR} %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="org.apache.kafka" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework.kafka" level="WARN" additivity="false"/>

    <logger name="org.hibernate" level="WARN" additivity="false"/>

    <logger name="org.testcontainers" level="WARN" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>